@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}
.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.containerMenu {
    @include flex_box_custom(center, center, 40px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}
.menu {
    cursor: pointer;
    padding-top: 8px;
}

.menu::after {
    content: '';
    display: block;
    height: 3px;
    background-color: $primary_color;
    margin-top: 6px;
    transform: scale(0);
    transition: transform 300ms;
}

.menu:hover::after {
    transform: scale(1);
}
